<body>
    <%- include('layout/header') %> 

    <main class="flex-shrink-0">
        <br>
    <section class="content-header">
    <div class="container">
        <div class="row">
            <a type="button" class="btn btn-primary" href="/user/add"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add User</a>
            <br>
            <table class="table">
                <thead>
                    <tr style="background-color: #EEE9DA;">
                        <th scope="col">No</th>
                        <th scope="col">image</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" id="no">1</th>
                        <td id="img"></td>
                        <td id="nameU"></td>
                        <td id="emailU"></td>
                        <td id="phoneU"></td>
                        <td><button type="button" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> &nbsp; <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
    </main>
    
    <%- include('layout/footer') %> 
</body>