@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";

* {
    font-family: 'Prompt', sans-serif;
}

body {

}

.navbar {
    background-color: #3C4048;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3C4048;
    text-align: center;
 }

 .imgSize {
    width: 40px;
    height: 40px;
 }

 .text-muted {
    color: white;
}

h2{
    color: #65647C;
}

.text,.text-color{
    color:white;
}


