@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";

* {
    font-family: 'Mitr', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.bg {
    background-image: url("bg-01.png");
  }

body {
    background-image: url(bg-01.png);
}

.systemT {
    font-size: 20px;
    color: #333;
    text-decoration: none; 
}

.systemT:hover {
    font-size: 20px;
    color: #FF597B;
    text-decoration: none; 
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

/* .imageL {
    width: 700px;
    height: 700px;
} */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 40px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
    margin-left: 70px;
}

header ul li a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: #333;
    font-weight: 400;
}

head ul li a:hover {
    font-size: 20px;
    color: #FF597B;
    text-decoration: none; 
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #FF597B;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #FF597B;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    width: 660px;
    height: 660px;
}

/* .navbar {
    background-color: #3C4048;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3C4048;
    text-align: center;
 }

 .imgSize {
    width: 40px;
    height: 40px;
 }

 .text-muted {
    color: white;
}

h2{
    color: #65647C;
}

.text,.text-color{
    color:white;
}

 */
