@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

body {

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: 65647C;
    text-align: center;
 }

h2{
    color: #65647C;
}

.text{
    color:#65647C;
}

