<navbar class="navbar navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            <span>
                <img src="assets/images/163371.jpg">
                ITM
            </span>
          
        </a>
    </div>
</navbar>