
<navbar class="navbar navbar-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            <span class="text">
                <img src="/images/logo.png" class="imgSize">
                ITM
            </span>
        </a>
    </div>
</navbar>