
<navbar class="navbar navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">
            <span class="text">
                <img src="/images/163371.jpg" width="20px;" height="20px;">
                ITM
            </span>
        </a>
    </div>
</navbar>